/*--------------------------------------------------------------
>>> VARIABLES
----------------------------------------------------------------

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$black: black;

/*--------------------------------------------------------------
# Sizes font
--------------------------------------------------------------*/
$ff: "Roboto", Arial, sans-serif;
$fz: 16px;
$lh: 1.2;

/*--------------------------------------------------------------
# Sizes screen
--------------------------------------------------------------*/
$width-mobile: 280px; // 280
$width-tablet: 688px; // 640
$width-desktop: 1320px; // 960

/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
$breakpoint-mobile: 320px; //
$breakpoint-tablet: 768px; //
$breakpoint-desktop: 1460px; // 1080
$breakpoint-mobile-only: $breakpoint-tablet - 1;

/*--------------------------------------------------------------
# Indents
--------------------------------------------------------------*/
$indent-mobile: 20px / $breakpoint-mobile * 100%;
$indent-tablet: 64px / $breakpoint-tablet * 100%;
$indent-desktop: 60px / $breakpoint-desktop * 100%;

/*--------------------------------------------------------------
# Retina
--------------------------------------------------------------*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*--------------------------------------------------------------
# Animate
--------------------------------------------------------------*/
$transition: all 0.3s ease-out;
